<table cellpadding="0" cellspacing="0" class="table-wrapper" style="width:170px; background-color: #fff" width="170">
	<tbody>
		<tr>
			<td style="border:1px solid #61585a; border-bottom:none;">
				<table cellpadding="0" cellspacing="0" width="170">
					<tbody>
						<tr>
							<td width="18" style="width:18px; line-height:100%;">&nbsp;</td>
							<td>
								<table cellpadding="0" cellspacing="0" width="100%">
									<tbody>
										<tr>
											<td height="17" style="height:17px;line-height:0;">&nbsp;</td>
										</tr>
										<tr>
											<td style="text-align:left; font-family:arial;color:#d32428; font-size:12px; line-height: 18px;letter-spacing:0.2px;mso-line-height-rule: exactly;"><strong>PAUL WISE</strong></td>
										</tr>
										<tr>
											<td style="text-align:left; font-family:arial;color:#2f292a; font-size:10px; line-height: 12px;letter-spacing:0.2px;mso-line-height-rule: exactly;"><strong>Vice President Marketing & Communications</strong></td>
										</tr>
										<tr>
											<td height="6" style="height:6px;line-height:0;">&nbsp;</td>
										</tr>
										<tr>
											<td style="text-align:left; font-family:arial;color:#2f292a; font-size:10px; line-height:12px;letter-spacing:0.2px;mso-line-height-rule: exactly;"><strong><span style="text-align:left; font-family:arial;color:#d32428; font-size:10px; line-height:12px;letter-spacing:0.2px;mso-line-height-rule: exactly;">D:</span> 720.550.7174</strong></td>
										</tr>
										<tr>
											<td style="text-align:left; font-family:arial;color:#2f292a; font-size:10px; line-height:12px;letter-spacing:0.2px;mso-line-height-rule: exactly;"><strong><span style="text-align:left; font-family:arial;color:#d32428; font-size:10px; line-height: 12px;letter-spacing:0.2px;mso-line-height-rule: exactly;">O:</span> 720.550.7174</strong></td>
										</tr>
										<tr>
											<td style="text-align:left; font-family:arial;color:#2f292a; font-size:10px; line-height:12px;letter-spacing:0.2px;mso-line-height-rule: exactly;"><strong>pwise@apcautotech.com APCautotech.com</strong></td>
										</tr>
										<tr>
											<td height="10" style="height:10px;line-height:0;">&nbsp;</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td width="18" style="width:18px; line-height:100%;">&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<img style="display: block;" alt="APC" width="172" height="48" src="https://email.carbon8.info/apc-signature/APC-logo-4.jpg" />
			</td>
		</tr>
	</tbody>
</table>